.sidebar {
    float: left;
    position: fixed;
    width: 180px;
    margin-top: 3.25rem;
    background-color: white;
    height: 100vh;
    padding: 1rem 1rem 7rem 1rem;
    overflow-y: auto;
    border-right: solid 1px lightgray;

    .sidebar-link {
        &.has-child {
            cursor: not-allowed;

            &:hover {
                background-color: transparent;
            }
        }

        &:hover {
            transition: ease-in-out 0.1s;
        }
    }
}
